/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper { color:#737373;  font-size:11px; position: relative; clear: both; zoom: 1; -webkit-box-shadow: inset 0px 1px 0px 0px #fff; -moz-box-shadow: inset 0px 1px 0px 0px #fff; box-shadow: inset 0px 1px 0px 0px #fff; background: #f8f8f8; }
.dataTables_wrapper label{ margin: 0;}
.dataTables_processing { position: absolute; top: 50%; left: 50%; width: 250px; height: 30px; margin-left: -125px; margin-top: -15px; padding: 14px 0 2px 0; border: 1px solid #ddd; text-align: center; color: #999; font-size: 14px; background-color: white; }
.dataTables_length { width: 40%; float: left; /*margin:5px;*/ padding:5px 10px;/*border:1px solid #d9d9d9;*/ }
.dataTables_length .selector { width:50px; }
.dataTables_length select { min-width:50px !important; }
.dataTables_filter { width: 50%; float: right; text-align: right; padding: 5px 10px; }
.dataTables_filter input { color:#737373; padding:2px; border-color:#9d9d9d #d1d1d1 #ececec; border-width:1px; border-style:solid; margin: 0; background: #f4f4f4; background: -moz-linear-gradient(top, #f4f4f4 0%, #fefefe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #fefefe)); background: -webkit-linear-gradient(top, #f4f4f4 0%, #fefefe 100%); background: -o-linear-gradient(top, #f4f4f4 0%, #fefefe 100%); background: -ms-linear-gradient(top, #f4f4f4 0%, #fefefe 100%); background: linear-gradient(top, #f4f4f4 0%, #fefefe 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#fefefe', GradientType=0 ); }
.dataTables_filter input,
.dataTables_filter input:hover,
.dataTables_filter input:focus { -webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease; }
.dataTables_filter input:hover { background:#ededed; }
.dataTables_filter input:focus { background:#e4e4e4; border:1px solid #D5D5D5; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(213,213,213,0.6);   }
.dataTables_info { width:40%; float: left; padding:10px; }
.dataTables_paginate { float: right; text-align: right; padding:10px 5px 5px 0; }
/* Pagination nested */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next { height: 18px; float: left; cursor: pointer; *cursor: hand; line-height:1.3; }
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover { text-decoration: none !important; }
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active { outline: none; }
.paginate_disabled_previous,
.paginate_disabled_next { color:#cfcecf !important; cursor:default; }
.paginate_disabled_previous,
.paginate_enabled_previous { padding-left: 23px; }
.paginate_disabled_next,
.paginate_enabled_next { padding-right: 23px; margin-left: 10px; }
.paginate_disabled_previous { background: url(../../../img/general/table/back_disabled.png) no-repeat left center; }
.paginate_enabled_previous { background:url(../../../img/general/table/back_enabled.png) no-repeat left center; }
.paginate_enabled_previous:hover { background: url(../../../img/general/table/back_enabled_hover.png) no-repeat left center; }
.paginate_disabled_next { background: url(../../../img/general/table/forward_disabled.png) no-repeat top right; }
.paginate_enabled_next { background: url(../../../img/general/table/forward_enabled.png) no-repeat top right; }
.paginate_enabled_next:hover { background: url(../../../img/general/table/forward_enabled_hover.png) no-repeat top right; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display { margin: 0 auto; clear: both; width: 100%; background-color:#fafafa; border-top:1px solid #D5D5D5; }
table.display thead tr { background-color:#f6f6f6; }
table.display thead th { border-bottom: 1px solid #D5D5D5; border-left:1px solid #D5D5D5; cursor: pointer; * cursor: hand; vertical-align:middle; font-size:11px; font-weight:normal; padding: 5px 20px 5px 10px; }
table.display thead th:first-child { border-left:none; }
table.display tfoot th { padding: 3px 18px 3px 10px; border-top: 1px solid #D5D5D5; font-weight: bold; }
table.display tr.heading2 td { border-bottom: 1px solid #aaa; }
table.display td { padding:7px; border-bottom: 1px solid #D5D5D5; border-left:1px solid #D5D5D5; }
table.display td:first-child { border-left:none; }
table.display td.center { text-align: center; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
.sorting_asc { background:url(../../../img/general/table/sort_asc.png) no-repeat 99% center; }
.sorting_asc:hover { background:url(../../../img/general/table/sort_asc_hover.png) no-repeat 99% center; }
.sorting_desc { background:url(../../../img/general/table/sort_desc.png) no-repeat 99% center; }
.sorting_desc:hover { background:url(../../../img/general/table/sort_desc_hover.png) no-repeat 99% center; }
.sorting { background:url(../../../img/general/table/sort_both.png) no-repeat 99% center; }
.sorting:hover { background:url(../../../img/general/table/sort_both_hover.png) no-repeat 99% center; }
.sorting_asc_disabled { background:url(../../../img/general/table/sort_asc_disabled.png) no-repeat 99% center; }
.sorting_desc_disabled { background:url(../../../img/general/table/sort_desc_disabled.png) no-repeat 99% center; }
th:active { outline: none; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA { background-color: #ddffdd; }
table.display tr.even.gradeA { background-color: #eeffee; }
table.display tr.odd.gradeC { background-color: #ddddff; }
table.display tr.even.gradeC { background-color: #eeeeff; }
table.display tr.odd.gradeX { background-color: #ffdddd; }
table.display tr.even.gradeX { background-color: #ffeeee; }
table.display tr.odd.gradeU { background-color: #ddd; }
table.display tr.even.gradeU { background-color: #eee; }
tr.odd { background-color: #FAFAFA; }
tr.even { background-color: #F3F3F3; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll { clear: both; }
.dataTables_scrollBody { *margin-top: -1px; -webkit-overflow-scrolling: touch; }
.top,
.bottom { padding: 15px; background-color: #F5F5F5; border: 1px solid #CCCCCC; }
.top .dataTables_info { float: none; }
.clear { clear: both; }
.dataTables_empty { text-align: center; }
tfoot input { margin: 0.5em 0; width: 100%; color: #444; }
tfoot input.search_init { color: #999; }
td.group { background-color: #d1cfd0; border-bottom: 2px solid #A19B9E; border-top: 2px solid #A19B9E; }
td.details { background-color: #d1cfd0; border: 2px solid #A19B9E; }
.example_alt_pagination div.dataTables_info { width: 40%; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Full Navigation
 */
.paging_full_numbers { font-size:11px; width: 360px; height: 22px; line-height: 22px; padding:5px; }
.paging_full_numbers a:active { outline: none }
.paging_full_numbers a:hover { text-decoration: none; }
.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active { border: 1px solid #D5D5D5; padding: 2px 5px; margin: 0 3px; cursor: pointer; *cursor: hand;
}
.paging_full_numbers a.paginate_button { -webkit-box-shadow: inset 0px 1px 0px 0px #fff; -moz-box-shadow: inset 0px 1px 0px 0px #fff; box-shadow: inset 0px 1px 0px 0px #fff; background: #f8f8f8; background: -moz-linear-gradient(top, #f8f8f8 0%, #f3f3f3 99%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(99%, #f3f3f3)); background: -webkit-linear-gradient(top, #f8f8f8 0%, #f3f3f3 99%); background: -o-linear-gradient(top, #f8f8f8 0%, #f3f3f3 99%); background: -ms-linear-gradient(top, #f8f8f8 0%, #f3f3f3 99%); background: linear-gradient(top, #f8f8f8 0%, #f3f3f3 99%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f3f3f3', GradientType=0 );
}
.paging_full_numbers a.paginate_button:hover,
.paging_full_numbers a.paginate_active { color:#353535; -webkit-box-shadow: inset 0px 1px 0px 0px #D5D5D5; box-shadow: inset 0px 1px 0px 0px #D5D5D5; background: #ebebeb; background: -moz-linear-gradient(top, #ebebeb 0%, #f4f4f4 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #f4f4f4)); background: -webkit-linear-gradient(top, #ebebeb 0%, #f4f4f4 100%); background: -o-linear-gradient(top, #ebebeb 0%, #f4f4f4 100%); background: -ms-linear-gradient(top, #ebebeb 0%, #f4f4f4 100%); background: linear-gradient(top, #ebebeb 0%, #f4f4f4 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#f4f4f4', GradientType=0 );
}
.paging_full_numbers a.paginate_button_disabled,
.paging_full_numbers a.paginate_button_disabled:hover { background:#fafafa; border:1px solid #e2e2e2; color:#D5D5D5; cursor:default; -webkit-box-shadow: none; box-shadow:none; }
table.display tr.even.row_selected td { background: #B0BED9; }
table.display tr.odd.row_selected td { background: #9FAFD1; }
/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
/*tr.odd td.sorting_1 { background-color: #D3D6FF; }
tr.odd td.sorting_2 { background-color: #DADCFF; }
tr.odd td.sorting_3 { background-color: #E0E2FF; }
tr.even td.sorting_1 { background-color: #EAEBFF; }
tr.even td.sorting_2 { background-color: #F2F3FF; }
tr.even td.sorting_3 { background-color: #F9F9FF; }*/

/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 { background-color: #c4ffc4; }
tr.odd.gradeA td.sorting_2 { background-color: #d1ffd1; }
tr.odd.gradeA td.sorting_3 { background-color: #d1ffd1; }
tr.even.gradeA td.sorting_1 { background-color: #d5ffd5; }
tr.even.gradeA td.sorting_2 { background-color: #e2ffe2; }
tr.even.gradeA td.sorting_3 { background-color: #e2ffe2; }
tr.odd.gradeC td.sorting_1 { background-color: #c4c4ff; }
tr.odd.gradeC td.sorting_2 { background-color: #d1d1ff; }
tr.odd.gradeC td.sorting_3 { background-color: #d1d1ff; }
tr.even.gradeC td.sorting_1 { background-color: #d5d5ff; }
tr.even.gradeC td.sorting_2 { background-color: #e2e2ff; }
tr.even.gradeC td.sorting_3 { background-color: #e2e2ff; }
tr.odd.gradeX td.sorting_1 { background-color: #ffc4c4; }
tr.odd.gradeX td.sorting_2 { background-color: #ffd1d1; }
tr.odd.gradeX td.sorting_3 { background-color: #ffd1d1; }
tr.even.gradeX td.sorting_1 { background-color: #ffd5d5; }
tr.even.gradeX td.sorting_2 { background-color: #ffe2e2; }
tr.even.gradeX td.sorting_3 { background-color: #ffe2e2; }
tr.odd.gradeU td.sorting_1 { background-color: #c4c4c4; }
tr.odd.gradeU td.sorting_2 { background-color: #d1d1d1; }
tr.odd.gradeU td.sorting_3 { background-color: #d1d1d1; }
tr.even.gradeU td.sorting_1 { background-color: #d5d5d5; }
tr.even.gradeU td.sorting_2 { background-color: #e2e2e2; }
tr.even.gradeU td.sorting_3 { background-color: #e2e2e2; }
/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover,
#example tbody tr.even td.highlighted { background-color: #ECFFB3; }
.ex_highlight #example tbody tr.odd:hover,
#example tbody tr.odd td.highlighted { background-color: #E6FF99; }
.ex_highlight_row #example tr.even:hover { background-color: #ECFFB3; }
.ex_highlight_row #example tr.even:hover td.sorting_1 { background-color: #DDFF75; }
.ex_highlight_row #example tr.even:hover td.sorting_2 { background-color: #E7FF9E; }
.ex_highlight_row #example tr.even:hover td.sorting_3 { background-color: #E2FF89; }
.ex_highlight_row #example tr.odd:hover { background-color: #E6FF99; }
.ex_highlight_row #example tr.odd:hover td.sorting_1 { background-color: #D6FF5C; }
.ex_highlight_row #example tr.odd:hover td.sorting_2 { background-color: #E0FF84; }
.ex_highlight_row #example tr.odd:hover td.sorting_3 { background-color: #DBFF70; }
/*
 * KeyTable
 */
table.KeyTable td { border: 3px solid transparent; }
table.KeyTable td.focus { border: 3px solid #3366FF; }
table.display tr.gradeA { background-color: #eeffee; }
table.display tr.gradeC { background-color: #ddddff; }
table.display tr.gradeX { background-color: #ffdddd; }
table.display tr.gradeU { background-color: #ddd; }
div.box { height: 100px; padding: 10px; overflow: auto; border: 1px solid #8080FF; background-color: #E5E5FF; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * jQuery UI specific styling
 */
.paging_two_button .ui-button { float: left; cursor: pointer;  * cursor: hand; }
.paging_full_numbers .ui-button { padding: 2px 6px; margin: 0; cursor: pointer;  * cursor: hand; color: #333 !important; }
.dataTables_paginate .ui-button { margin-right: -0.1em !important; }
.dataTables_paginate { width: auto; }
div.dataTables_wrapper .ui-widget-header { font-weight: normal; border:none; background:none; }
div.dataTables_wrapper .ui-state-default { padding-right:5px; }
div.dataTables_wrapper .fg-button { height:16px; line-height:1.2; padding:2px 7px; }
div.dataTables_wrapper .fg-button:hover { background:#D5D5D5; }

/*
 * Sort arrow icon positioning
 */
table.display thead th div.DataTables_sort_wrapper { position: relative; padding-right: 20px; }
table.display thead th div.DataTables_sort_wrapper span { position: absolute; top: 50%; margin-top: -8px; right: 0; }
